@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
body{
    font-family: "Cairo", sans-serif;

}
.home-container {
    min-height: 100vh; /* Ensure the container spans full viewport height */
}

.sidebar {
    height: 100vh; /* Make sure the sidebar stretches the full height */
    background-color: #f8f9fa; /* Optional background color */
}

.content {
    display: flex;
    flex-direction: column;
}

.chart-row {
    display: flex;
    gap: 20px; /* Add space between the charts */
}

.chart-column {
    flex: 1; /* Allow both charts to be responsive */
    max-width: 500px; /* Limit the maximum width of the bottom charts */
    margin-bottom: 20px; /* Add space below the charts */
}

/* Optional: Additional styling for smaller charts */
.chart-column canvas {
    max-height: 350px; /* Limit the height of the charts */
}
