@font-face {
    font-family: "Cairo";
    src: url('../../Cairo/Cairo-Regular.ttf') format('truetype');
}

body {
    font-family: "Cairo", sans-serif;
}

.home-container {
    min-height: 100vh; /* Ensure the container spans full viewport height */
}

.sidebar {
    height: 100vh; /* Make sure the sidebar stretches the full height */
    background-color: #f8f9fa; /* Optional background color */
}

.content {
    display: flex;
    flex-direction: column;
}

.chart-row {
    display: flex;
    gap: 20px; /* Add space between the charts */
}

.chart-column {
    flex: 1; /* Allow both charts to be responsive */
    max-width: 500px; /* Limit the maximum width of the bottom charts */
    margin-bottom: 20px; /* Add space below the charts */
}

/* Optional: Additional styling for smaller charts */
.chart-column canvas {
    max-height: 350px; /* Limit the height of the charts */
}
.card-bodyy{
    background-color: #00770e;
    border-radius: 15px;
    padding: 12px 44px;
}
.card-bodyy .h6{
    font-size: x-large;
    color: white;
    font-weight: bold;
    margin: auto;
}
.card-bodyy .h3{
    font-size: large;
    color: white;
    font-weight: bold;
}
.box-items{
    background-color: #00770e;
}
.sreach-box::after{
    content: '';
    margin-top: 20px;
    margin-bottom: 20px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(89, 89, 230);
}